{
  "env": {
    "es5": {
      "plugins": [
        "transform-runtime"
      ],
      "presets": [
        ["env", {
          "loose": true,
          "modules": false
        }]
      ]
    },
    "es5-cjs": {
      "plugins": [
        "transform-runtime",
        "transform-es2015-modules-commonjs",
        "add-module-exports"
      ],
      "presets": [
        ["env", {
          "loose": true
        }]
      ]
    },
    "es2015": {
      "plugins": [
        "babel-plugin-transform-object-entries"
      ]
    },
    "es2015-cjs": {
      "plugins": [
        "babel-plugin-transform-object-entries",
        "add-module-exports",
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
